/******************************
    GENERAL STYLES
*******************************/

:root {
    /* Palette */
    --primary-green: #6bb89e;
    /* Commons */
    --header-footer-color: #374252;
    --about-info-color: #47576d;
    --black-titles-color: #383838;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/******************************
    SITE SECTIONS
*******************************/

/* -------- SOLO PER DEBUG -------- */

section {
    min-height: 300px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer {
    min-height: 150px;
}

/* ----- HEADER - NAVBAR -----*/

header {
    background-color: var(--header-footer-color);
    color: white;
    padding: 0.7rem 0;
}

.start_bs {
    align-items: center;
}

/*
NAVBAR
*/
.row > .col > a {
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
    font-weight: 600;
}

.row > .col > a:hover {
    color: var(--primary-green);
}

/* ----- FIRST SECTION -----*/

main > section:nth-child(1) {
    background-color: var(--primary-green);
}

.my_cont-1 {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.my_cont-1 > img {
    width: 200px !important;
    padding-bottom: 1rem;
    padding-top: 1.7rem;
}

.my_cont-1 >h1 {
    font-weight: 600;
    font-size: 3rem;
}

.star_stripes {
    align-items: center;
}

.white_rule {
    display: inline-block;
    height: 3px;
    background-color: white;
    width: 160px;
}

.fa-star {
    font-size: 1.7rem;
    padding: 0.6rem 1.6rem;
}

/* ----- SECOND SECTION -----*/

main > section:nth-child(2) {
    background-color: white;
}

.my_cont-2 {
    align-items: center;
}

.dark_rule {
    display: inline-block;
    height: 3px;
    background-color: var(--header-footer-color);
    width: 160px;
}

.dark_rule + .fa-star {
    color: var(--header-footer-color);
}

.my_wrapper {
    flex-wrap: wrap;
}

.img_cont {
    border-radius: 9px;
    overflow: hidden;
}

.img_cont> img {
    width: 100%;
    object-fit: cover;
}

/* ----- THIRD SECTION -----*/

main > section:nth-child(3) {
    background-color: var(--primary-green);
    color: white;
}

main > section:nth-child(3) button{
    margin-top: 2rem;
}

/* ----- FOURTH SECTION -----*/

main > section:nth-child(4) {
    background-color: white;
}



/* ----- FIRST FOOTER ----- */

body > footer:nth-child(3) {
    background-color: var(--about-info-color);
}


/* ----- SECOND FOOTER ----- */

body > footer:nth-child(4) {
    background-color: var(--header-footer-color);
}




/******************************
    RESPONSIVE
*******************************/

