/******************************
    GENERAL STYLES
*******************************/

:root {
    /* Palette */
    --primary-green: #6bb89e;
    /* Commons */
    --header-footer-color: #374252;
    --about-info-color: #47576d;
    --black-titles-color: #383838;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/******************************
    SITE SECTIONS
*******************************/

/* -------- SOLO PER DEBUG -------- */

section {
    min-height: 300px;
}

footer {
    min-height: 150px;
}

/* ----- HEADER - NAVBAR -----*/

header {
    background-color: var(--header-footer-color);
    color: white;
    padding: 0.7rem 0;
}

.start_bs {
    align-items: center;
}

nav > ul {
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 0;
}

nav ul > li {
    list-style: none;
    display: inline-block;
    padding: 1rem;
    font-weight: 600;
}

/* ----- FIRST SECTION -----*/

main > section:nth-child(1) {
    background-color: var(--primary-green);
}

/* ----- SECOND SECTION -----*/

main > section:nth-child(2) {
    background-color: white;
}



/* ----- THIRD SECTION -----*/

main > section:nth-child(3) {
    background-color: var(--primary-green);
}



/* ----- FOURTH SECTION -----*/

main > section:nth-child(4) {
    background-color: white;
}



/* ----- FIRST FOOTER ----- */

body > footer:nth-child(3) {
    background-color: var(--about-info-color);
}


/* ----- SECOND FOOTER ----- */

body > footer:nth-child(4) {
    background-color: var(--header-footer-color);
}